@{
    ViewBag.Title = "About";
}
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />

    <style>
        h1 {
        font-family:Verdana;
        color:black;
        font-weight:300;
        
        }
        p {
            font-family: Verdana;
            color:black;
            font-size:18px;
        }
    </style>
    </head>
  
<body>
    <center>
<h1>About Us</h1>
        </center>
    <center>
        <p> Our website provide you ease and comfort to such an extent that you <br> don't need to go outside and it will hope so fulfill your daily needs.  <br>
        we will provide you daily need things.That makes your life perfect</p>
        </center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   









    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>