@{
    ViewBag.Title = "SearchP";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GroceryStore.Models
@model IEnumerable<Product>
<div>
    @foreach (var p in Model)
    {
        <div class="row" style="border-right-color: whitesmoke; border-left-color: whitesmoke; border-top-color: whitesmoke; border-bottom-color: whitesmoke;background-color:whitesmoke ; border-style: solid; margin-left: 195px; margin-right:195px; padding-left: 50px; padding-right: 50px; ">
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <label style="font-family:Cambria; color:black; font-weight:bolder"> @p.PName</label>
                    <label style="font-family:Cambria; color:black; font-weight:bolder">@p.Price</label>
                    <img src="@p.Path" style="width:50px; height:50px" />
                </a>
                <a href="#" class="btn btn-primary" role="button">
                    Buy Now
                </a>
            </div>
        </div>
    }
</div>



