
@{
    ViewBag.Title = "Shopping";
   
}
@{

    Layout = "~/Views/Shared/_LayoutC.cshtml";
}
@using GroceryStore.Models;
@using GroceryStore.Controllers;
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
</head>
<body style="background-color:aqua">
    <center>
        <h2>Shopping</h2>
    </center>


    <center>
        <div class="table-responsive" style="border:solid;margin-left:350px;margin-right:350px;">
            <table class="table">
                <thead>
                    <tr class="info">
                        <td>Name</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>SubTotal</td>
                    </tr>
                </thead>
                <tbody>
                 @{   
                       
                foreach (Item it in (List<Item>)Session["cart"])
                {
                        <tr>
                           
                             <td>@it.p.PName</td>
                            <td>@it.p.Price</td>
                            <td>@it.Qty</td>
                            <td>@(it.p.Price*it.Qty)</td>

                        </tr>
                }
                <tr><td>total:@ViewBag.total</td></tr>
                }     
                </tbody>
            </table>
        </div>
    </center>
    
   
    <center>
        <br>
        <div style="margin-left:650px;margin-right:350px;">
        
            <button onclick="window.location.href = '/Customer/Total'">Submit_Cart</button>
        </div>
    </center>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>